<form class="form" ng-submit="register()">
        <h2 class="form-heading">Please sign in</h2>
        <input type="firstname" class="form-control"  placeholder="First Name" ng-model="user.firstname" required>
        <input type="lastname" class="form-control"  placeholder="Last Name"  ng-model="user.lastname" required>
        <input type="email" class="form-control"  placeholder="Email address" ng-model="user.email" required>
        <input type="password" class="form-control"  placeholder="Password"  ng-model="user.password" required>
        <button class="btn btn-large btn-primary" type="submit">Submit</button>
</form>
