<h4>Settings Page {{tokenid}}</h4>
<div class="header" ng-controller="NavCtrl">
	<ul class="nav nav-pills">
		<li class="active"><a href="/vehicle">Vehicle</a></li>
		<li><a href="/route">Route</a></li>
		<li><a href="/user/profile">Profile</a></li>
		<li><a href="" data-ng-click="logout()">Logout</a></li>
	</ul>
</div>

<form class='form' ng-submit="saveVehicle()">
	<h2 class='form-heading'>Add vehicle</h2>
	<input class='form-control' placeholder="Vehicle Name" ng-model="vehicle.name" required>
	<button class="btn btn-large btn-primary" type="submit">Save</button>
</form>

	<table class="table table-condensed table-bordered table-hover">
		<thead>
			<tr>
				<th>name</th>
				<th>delete</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-class-even="'even'" ng-repeat="vehicle in vehicles">
				<td><a href="/mileage/vehicle._id}}">{{vehicle.name}}</a></td>
				<td><a class='btn btn-primary' ng-click='deleteVehicle(vehicle, $index)' ng-class='{disabled: index < 0}'>Delete</a></td>
			<tr>
		</tbody>
	</table>